<script type="text/javascript">
$(document).ready(function(){
$('input[type="submit"]').click(function(e){
    e.preventDefault();
    $.post('contact.php',
      {
        email: $('input[name="email"]').val(),
        subject: $('input[name="subject"]').val(),
        message: $('textarea[name="message"]').val()
      },
      function(data){
        if(data == "fail") {
            $('.error').hide();
            $('form').prepend('<p class="error">An error has occurred. Please try again.</p>');
        }
        else if(data == "win"){
            $('form').fadeOut(500,function(){
                $('#container').html('<p class="success">Your message has been sent!</p>');
            });
        }
        else {alert(data);}
        
    });

});
    

});

</script>
<p>Need anything? Have questions? Comments? Concerns (I hope not)? I am Pranav Gandhi. Ask me anything.</p>
<form id="contact" action="/contact.php" method="POST">
    <p>What's it about?</p>
    <input type="text" name="subject" />
    <p>Message:</p>
    <textarea name="message"></textarea>
    <p>Your email address: </p>
    <input type="text" name="email">
  
    <p><input type="submit" value="Send"></p>
</form>
