@CHARSET "ISO-8859-1";


/* RESET */
* {
    list-style:none;
    padding:0;
    margin:0;
    line-height:20px;
    font-family:"Lucida Grande", Verdana, Arial;
    font-size:14px;
    font-weight:normal;
    color:black;
    text-decoration:none;
    border:none;
}

/** For iPhone font size correction */
html {
/**	-webkit-text-size-adjust:none; */
}

body {
/*    background: #fafafa; */
    background:url('images/wallpaper.jpg');
/*	background: #222; */
}

b {
    font-weight:bold;
}

h1 {
    font-size:72px;
    margin-top:50px;
    font-family:"Century Gothic", "Lucida Grande", Arial, Verdana;
    line-height:60px;
    color:red;
}

a:active {
    color:#ff5f5f;
}

a {
    color:#1d9aff;
}

a:hover {
    text-decoration:underline;
}

h2 {
    font-size:24px;
    padding:10px 0 10px 0;	
}

h3 {
    font-size:18px;
    padding:10px 0 10px 0;
}

p {
    padding:5px 0 5px 0;
}

li {
    margin-left:10px;
    list-style:url('images/bullet.png') inside;
}

ul {
    margin-bottom:15px;
}


#container {
    width:900px;
    margin:0 auto 0 auto;
}

#header {
    text-align:center;
    padding-bottom:10px;
}

#menu {
    background:url('http://f.cl.ly/items/2w2h1G2a312l18221D0C/Screen%20Shot%202011-10-17%20at%205.20.34%20PM.png') repeat-x;
    text-align:center;
    padding:0px;
    width:900px;
    margin:15px 0 15px -450px;
    box-shadow: 0 2px 3px #888;
    border-radius:5px;
/*
    background:-webkit-linear-gradient(top, #888 0%, #777 50%,#555 51%, #777 100%);
    background:-moz-linear-gradient(top, #888 0%, #777 50%,#555 51%, #777 100%);
*/
    position:fixed;
    top:0%;
    left:50%;
    
    
}

#menu p, #menu a {
    color:white;
    display:inline-block;
    padding:8px 15px 8px 15px;
    border-left:1px #555 solid;
    border-right:1px #777 solid;
    margin-right:0px;
    
}

#menu a:hover {
    background:-webkit-linear-gradient(top, #444 0%, #555 50%,#333 51%, #666 100%);
    background:-moz-linear-gradient(top, #444 0%, #555 50%,#333 51%, #666 100%);
}

#menu a:hover {
    text-decoration:none;
}

#menu a.active{
    background:-webkit-linear-gradient(#222, #666);
    background:-moz-linear-gradient(#222, #666);
    border:none;
    
}

#title {
    font-size: 28px;
    height: 30px;
    margin:80px 0 10px 0;
}

.content {
    background:white;

    padding:0px;
    /*	border-bottom:2px #ff0000 solid; */
    border-radius:5px;
    box-shadow: 0 1px 3px #ddd;
}

#marine {
    text-align:center;
    display:block;
    border-radius: 0 5px 5px 0;
    float:right;
    margin: -20px -20px -20px 0;
    background:white;
    box-shadow: 0 2px 3px #ddd;	
}

.clear {clear:both}

img[alt="[Pranav]"] {
    margin:-10px 10px -10px -10px;
    border-radius:5px 0 0 5px;
    max-width:195px;
    float:left;
    
}

.content_feature {
    background: -moz-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
    background: -webkit-linear-gradient(top,#fafafa 0%,#f0f0f0 100%);
    border-radius:5px;
    margin:0px;
    padding:20px;
    
}

blockquote {
    font-size:24px;
    padding:30px;
    line-height:30px;
}

.content_main {
    background:white; 
    border-top:1px #eee solid;
    border-left:1px #ddd solid;
    border-right:1px #ddd solid;
    border-bottom:1px #ccc solid;
    padding:10px;
    border-radius:5px;
    width:650px;
    box-shadow: 0 2px 3px #ddd;	
}


.right_box {
    float:right;
    width:200px;
    padding-left:15px;
}

.clear {
    clear:both;
}

#projects > li {
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -webkit-linear-gradient(top,#fafafa 0%,#eee 100%);
    border-bottom:1px #ccc solid;
    margin:-10px -10px 0 -10px;
    padding:15px;
    list-style:none;	
}

#projects > li:hover {
    background: -moz-linear-gradient(top, #ccc 0%, #eee 100%);
    background: -webkit-linear-gradient(top,#ccc 0%,#eee 100%);
}

.center {
    text-align:center;
    margin:0 auto 0 auto;
}


#footer {
    text-align:center;
}

#footer p {
    color:black;
}

#contact {
    margin: 30px auto 0 auto;
    text-align:center;
}

#contact p {
    font-size:18px;
    font-family:Arial, Verdana;
}

#contact > input[type="text"], textarea {
    padding:5px;
    border:1px #ccc solid;
    border-radius:5px;
    width:400px;
    outline:none;
}

#contact > input[type="text"]:hover, #contact > input[type="text"]:focus, textarea:hover,textarea:focus{
    box-shadow: inset 0 0 3px 0px #0099CC;
    border:1px #0099BB solid;
}

#contact textarea {
    height:300px;
}

#contact input[type="submit"] {
    padding:5px 10px 5px 10px;
    font-size:18px;
    border:1px #0099AA solid;
    border-radius:5px;
    margin:15px;
    background:white;
}

#contact input[type="submit"]:hover {
    background:#eee;
    border:1px #11AAEE solid;
}