/** November update for Pranav M Gandhi */

/** Reset all the things! */
* {
	font-size: 15px;
	font-family: "Lucida Grande", Arial, Verdana;
	line-height:1.5;
	padding:0;
	margin:0;
	font-weight:normal;
	outline:none;
}

/** Tags and such */

h1, h2 {
    font-family: "Lucida Grande", Arial, Verdana, sans-serif;
    line-height:1;
    font-size:30px;
}

h2 {
    font-size:20px;
    margin:15px 0 5px 0;
}

a {
	color:#1f9cff;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

p {
    margin:15px 0 15px 0;
}

li {
    list-style:url('images/bullet.png') inside;   
}

/** Specific classes and id */

.success {
    background: #ddffdd;
    padding:10px;
}

.error {
    background: #ffeeee;
    padding:10px;
}

form input[type="text"], form textarea {
    width:500px;
    margin:-15px 0 0 0;
}

form textarea {
    height:100px;
}

form input[type="submit"] {
    width:100px;
    padding:5px;
}

.right_box {
    float:right;
    padding:0 0 0 15px;
}

#marine {
	float: left;
	padding:0px 15px 0 0;
}

#container {
	margin:0 auto 0 auto;
	max-width:800px;
}

#menu {
	margin:25px auto 25px auto;
	width:100%;
	max-width:800px;
}

#menu a {
    width:100%;
    padding: 15px;
    margin: 0 5px 0 5px;
}

#menu a:hover, #menu a.active {
    background:#ddffdd;	
}


#footer {
    max-width:800px;
    margin:50px auto 0 auto;
}
