<h2>The Network</h2><div class="clear"></div>
<ul><li><a href="http://twitter.com/pranavrulz"><img src="images/twitter.jpg"  id="[twitter]"  alt="[twitter]"></a></li>
    <li><a href="http://www.linkedin.com/pub/pranav-gandhi/30/b83/160"><img src="images/linkedin.png" id="[linkedin]" alt="[linkedin]"></a></li>
    <li><a id="[g+]" href="https://plus.google.com/114909188229545983456"><img src="http://www.choosewhat.com/starticles/wp-content/uploads/2011/12/Google-Plus-Logo.png" alt="[g+]"></a></li>
</ul>
<h2>I am multilingual</h2><div class="clear"></div>
<p>English, PHP, MySQL, Racket/Scheme, HTML/CSS, JavaScript/jQuery, Java, Python/Django, C</p>


</ul>