<h2>The Cloud -insert buzzwords here-</h2>
<div class="clear"></div>
<img src="/images/icloud.png" alt="[cloud]">
<p>I chose the task of finding a cloud computing solution for Northeastern University&quot;s College of Computer and Information Science. After testing many solutions such as Eucalyptus, openQRM, and others, we decided to use Google's <a href="http://code.google.com/p/ganeti/">Ganeti</a> cloud platform. <a href="https://wiki.ccs.neu.edu/display/Crew/Cloud+Previous+Semesters">Wiki</a>.</p>
<div class="clear"></div>