<h2>pBrane, yet another HTML5 library (yahl.js)</h2>

<p>I worked with <a href="http://spencerflorence.com">Spencer Florence</a> to create a HTML5 Javascript library to simplify creating HTML5 games in the browser. It mirrors Racket's Big Bang library for game creation. <a href="https://bitbucket.org/pranavgod/pbrane.js">Git repository</a>.</p>

<p>Here is some example uses for pBrane: <a href="/pbrane/tree.html">Christmas Tree</a>, (more to come).</p>