<h2>Realm of Racket: I put on my robe and wizard hat</h2><div class="clear"></div>
<img src="/images/chad.png" alt="[realmofracket]">
<p>I am a contributor of the upcoming book <a href="http://realmofracket.com">Realm of Racket</a> which is for aspiring students who are interested in LISP/Racket and programming in general. I was also on the web design team.</p>
<div class="clear"></div>