/** pranavmgandhi.com */

* {
    padding:0;
    margin:0;
    color:#000;
    font-family:"Open Sans", sans-serif;
    font-weight:normal;
}

body {
    background: -webkit-linear-gradient(top, #fff 0%, #eee 15%) #eee repeat-x;
    background-image:-moz-linear-gradient(top,#fff 0%, #eee 15%);
    background-color:#eee;
    text-align:center;

}

h1 {
    font-size: 48px;
    font-family: "Droid Serif", serif;
    text-align:center;
}

.paren {
    color:red;
    font-size:60px;
}

h2 {
    font-size:72px;
    font-family:"Droid Serif", serif;
    float: right;
    margin:25px;
}

.clear {clear:both;}

#header {
    padding:10px 0 10px 0;
    margin:0 auto 0 auto;
    width:700px;
    text-align:left;
}

#menu {
    background: -webkit-linear-gradient(top, #f00 0%, #b00 100%);
    background: -moz-linear-gradient(top, #f00 0%, #b00 100%);
    background-color:red;
    text-align:center;
    border-top:1px #d00 solid;
    border-bottom:1px #d00 solid;
}

#links {
    margin:0 auto 0 auto;
    width:700px;
    padding:5px;
    text-align:left;
}

#links a {
    color:white;
    text-decoration:none;
    padding:5px 20px 5px 20px;
}

#links a:hover {
    background:white;
    padding:10px 20px 10px 20px;
    color:red;
    box-shadow: 0 0 10px #222;
}

#container {
    width:700px;
    margin:50px auto 100px auto;
    padding:15px;
    background:white;
    border-radius:5px;
    border:1px #eee solid;
    position:relative;
    text-align:left;
}

p {
    margin-bottom:16px;
}

p a {
    color:#267dff;
}

img {
    float:left;
    margin:-16px 15px -16px -16px;
    border-radius: 0px 0 0 5px;
    max-width:150px;
    border:none;
}

#[cloud] {
    margin: 0 15px 0 0;
}

#[logo] {
    width:50px;
}

img[alt="[logo]"]{
    width:75px;
    border-radius:75px;
    border:none;
}

ul {
    padding:25px;
    list-style:inside;

}

li {
    display:inline;
}

li img {
    max-width:150px;
    max-height:100px;
}