<h2>&#8220;Building brand &nbsp;awareness.&#8221;</h2><div class="clear"></div>
<img src="/images/me.png" alt="[pranav]">
<p>Hi, my name is Pranav Gandhi. I am a web developer and Computer Science and Information Science dual major at <a href="http://neu.edu">Northeastern University</a> in the <a href="http://ccs.neu.edu">College of Computer and Information Science</a>. I am also a fan of Starcraft 2. Here you will find information <a href="#aboutme">about me</a> and my projects.</p>
<div class="clear"></div>