@CHARSET "ISO-8859-1";


/* RESET */
* {
	list-style:none;
	padding:0;
	margin:0;
	line-height:20px;
	font-family:"Lucida Grande", Verdana, Arial;
	font-size:14px;
	font-weight:normal;
	color:black;
	text-decoration:none;
	border:none;
}

/** For iPhone font size correction */
html {
/**	-webkit-text-size-adjust:none; */
}

body {
	background: #fafafa; 
/*	background: #222; */
}

b {
	font-weight:bold;
}

h1 {
	font-size:72px;
	margin-top:50px;
	font-family:"Century Gothic", Verdana;
	line-height:60px;
	color:red;
}

a:active {
	color:#ff5f5f;
}

a {
	color:#1d9aff;
}

a:hover {
	text-decoration:underline;
}

h2 {
	font-size:24px;
	padding:10px 0 10px 0;	
}

h3 {
	font-size:18px;
	padding:10px 0 10px 0;
}

p {
	padding:5px 0 5px 0;
}

li {
	margin-left:10px;
	list-style:url('images/bullet.png') inside;
}

ul {
	margin-bottom:15px;
}


#container {
	width:900px;
	margin:0 auto 0 auto;
}

#header {
	text-align:center;
	padding-bottom:10px;
}

#menu {
	background:#333;
	text-align:center;
	padding:0px;

	margin:15px auto auto auto;
	box-shadow: 0 2px 3px #888;
	border-radius:5px;
	background:-webkit-linear-gradient(top, #888 0%, #777 50%,#555 51%, #777 100%);
	background:-moz-linear-gradient(top, #888 0%, #777 50%,#555 51%, #777 100%);
}

#menu p, #menu a {
	color:white;
	display:inline-block;
	padding:10px 25px 10px 25px;
/*	border-left:1px #999 solid;
	border-right:1px #999 solid;
*/
	margin-right:-5px;
	
}

#menu a:hover {
	background:-webkit-linear-gradient(top, #444 0%, #555 50%,#333 51%, #666 100%);
	background:-moz-linear-gradient(top, #444 0%, #555 50%,#333 51%, #666 100%);
}

#menu a:hover {
	text-decoration:none;
}

#menu a.active{
	background:-webkit-radial-gradient(#555, #000);
	background:-moz-radial-gradient(#555, #000);
	border-left:1px #222 solid;
	border-right:1px #222 solid;
}

#title {
	font-size: 28px;
	margin:80px 0 20px 0;
}

.content {
	background:white; 
	border-top:1px #eee solid;
	border-left:1px #ddd solid;
	border-right:1px #ddd solid;
	border-bottom:1px #ccc solid;
	padding:10px;
/*	border-bottom:2px #ff0000 solid; */
	border-radius:5px;
	box-shadow: 0 1px 3px #ddd;
	margin:20px 0px 20px 0px;
	width:700px;
}

.content_feature {
	background: -moz-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
	background: -webkit-linear-gradient(top,#fafafa 0%,#f0f0f0 100%);
	border-radius:5px;
	margin:-7px;
	padding:20px;
	
}

blockquote {
	font-size:24px;
	padding:30px;
	line-height:30px;
}

.content_main {
	background:white; 
	border-top:1px #eee solid;
	border-left:1px #ddd solid;
	border-right:1px #ddd solid;
	border-bottom:1px #ccc solid;
	padding:10px;
	border-radius:5px;
	width:650px;
	box-shadow: 0 2px 3px #ddd;	
}


.right_box {
	float:right;
	width:160px;
	padding-left:15px;
}

.right_box img {
    border-radius:10px;
    box-shadow: 0 2px 3px #ddd;	
}

.clear {
	clear:both;
}
}

.center {
	text-align:center;
	margin:0 auto 0 auto;
}


#footer {
	text-align:center;
}

#footer p {
	color:black;
}

/**  DAS TERMINAL */

#posts {
    width:700px;
    margin:0 auto 0 auto;
}